// App.scss
@import "~bootstrap/scss/bootstrap";

// KanBan Board
.kanban-board {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .add-column-button {
    margin-top: 20px;
  }

//Columns
.column-container {
    background-color: #504a4a;
    padding: 5px;
    margin: 40px;
    border-radius: 5px;
  
    .column-title {
      font-size: 18px;
      margin-bottom: 10px;
    }
  
    .card-list {
      list-style: none;
      padding: 0;
    }
  }
  
//Cards
.card-container {
    margin-bottom: 10px;
  
    .card-body {
      padding: 10px;
    }
  }
  