// App.scss
@import "~bootstrap/scss/bootstrap";

$black: #1b1b1b;
$white: #fff;
$light-gray: rgb(161, 161, 161)f8f;
$dark-gray: rgb(92, 92, 92)f8f;

* {
  // background: $black;
  color: $black;
  // padding: 30px;
  // margin: 10px;
}

body {
  // padding: 10px;
  // margin: 20px;
  // background-color: #1b2845;
  // background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);

}

//main board
.main-board {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $light-gray;
  gap: 30px;
  padding: 30px; 
}

.main-heading {
  align-self: center;
  margin-bottom: 2px solid #fff;
  // text-decoration: underline;
}

// KanBan Board
.kanban-board {
    display: flex;
    align-items: flex-start;   
    width: 100%;
    height: 100%;
    gap: 10px;
  }
  
  .add-column-button {
    margin-top: 20px;
  }

//Columns
.column {
  // background-color: $light-gray;
  // display: flex;
  text-align: center;
  // flex-direction: column;
  // padding: 5px;
  border: 1px solid #cccccc;
  padding: 10px 5px;
  width: 100%;
  max-width: 20%;
  flex: 1;
  margin: 8px;
  gap: 5px;
}

.column-container {
    background-color: $light-gray;
    padding: 10px;
    // margin: 40px;
    border-radius: 15px;
    // box-shadow: #1b1b1b;

    .column-details {
      display: flex;
      flex-direction: column;
      min-height: 100px; 
      border-radius: 8px;
      padding: 8px;
    }
    
    .column-title {
      font-size: 22px;
      padding: 20px 0;
      margin-bottom: 10px solid $light-gray;
    }
  
    // .card-list {
    //   list-style: none;
    //   padding: 0;
    // }
  }
  
//Cards
.card {
  padding-bottom: 5px;
}

.card-container {
    // margin-bottom: 10px;
    // background-color: aqua;
  
    .card-body {
      padding: 10px;
      margin: 15px 5px;
    }
  }
  