// App.scss
@import "~bootstrap/scss/bootstrap";

// KanBan Board
.kanban-board {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .add-column-button {
    margin-top: 20px;
  }

//Columns

  
//Cards
.card-container {
    margin-bottom: 10px;
  
    .card-body {
      padding: 10px;
    }
  }
  